<div class="container">
  <div class="tab-container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Password Generator</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-12 my-2">
                  <label for="file-upload" class="lable center"
                    >Upload Information</label
                  >
                </div>
                <div class="col-12 my-3 center">
                  <input
                    type="file"
                    id="file-upload"
                    class="upload-input"
                    multiple
                    (change)="onImportExcel($event)"
                  />
                </div>
              </div>
              <div class="col-12">
                <button
                  mat-raised-button
                  class="btn btn-danger pull-right right"
                  (click)="createFile($event)"
                  [disabled]="!data"
                >
                  Run
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
